.banner {
    padding-top: 180px;
    position: relative;
    background-position: center center !important;
    background-size: cover !important;

}

.banner_div {
    position: relative;
    z-index: 2;
    padding-top: 30px;
    padding-bottom: 30px;
}

.banner:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.858);
    top: 0;
    right: 0;
    z-index: 1;
}

.banner .poster img {
    border-radius: 5px;
}

.banner .movie_content {
    color: aliceblue;
}

.banner .movie_content .link {
    transition: all .3s;
}

.banner .movie_content .link span {
    opacity: .7;
}

.banner .movie_content .link:hover {
    color: #f5b50a;
}

.banner .movie_content .link i {
    padding-inline-end: 5px;
    transition: all .3s;
}

.banner .movie_content .link:hover i {
    transform: translateX(-8px);
}

.movie {
    background: #020d18;
    padding: 80px 0;
}

.movie img {
    border-radius: 8px;
    margin-bottom: 15px;
    display: block;

}
.slide:hover .overLay h4 {
    color: #dcf836;
}

.slide .overLayBtn {
    background: #00000085;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .3s;
}

.slide .overLayBtn .btn {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #dd003f;
    padding: 8px 15px;
    width: 110px;
    height: 38px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    /* opacity: 0; */

}

.slide:hover .overLayBtn {
    opacity: 1;
}

.slide .overLayBtn .btn a {
    font-size: 14px;
    color: #abb7c4;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.slide:hover .overLay h4 {
    transition: all .5s;
}

.movie .char h5 a{
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .3s;
}
.movie .char a:hover{
    color: #dcf836;
}
.movie .char  p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}
.movie .char  p span{
    font-size: 12px;
    margin-inline-start: 5px;
}
.movie .char  p i{
    color: #dcf836;
    margin-inline-end: 5px;
}
.drobDown{
    background: transparent;
    padding: 15px 40px;
    color: #abb7c4;
    border: 1px solid #abb7c48e;
    border-radius: 25px;
    letter-spacing: 1px;
    
}