.overLay {
    position: absolute;
    top: 15px;
    right: -45px;
    color: antiquewhite;
    text-transform: uppercase;
    transform: rotate(45deg);
    padding: 0 50px;
    font-size: 17px;
}


.yellow {
    background-color: #f5b50a;
}

.orange {
    background: #ec5a1a;
}

.green_light {
    background-color: #a6bb16;
}

.gray {
    background-color: #7EACB5;
}

.red {
    background-color: #ff0000;
}

.slide:hover .overLay h4 {
    color: #dcf836;

}

.slide .overLayBtn {
    background: #00000085;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .3s;

}

.slide .overLayBtn .btn {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #dd003f;
    padding: 8px 15px;
    width: 110px;
    height: 38px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    /* opacity: 0; */

}

.slide:hover .overLayBtn {
    opacity: 1;
}

.slide .overLayBtn .btn a {
    font-size: 14px;
    color: #abb7c4;
    font-weight: bold;
    text-transform: capitalize;
    color: #ffffff;
    margin-top: 0;
}

.slide:hover .overLay h4 {
    transition: all .5s;
}


.teater_list {
    margin-bottom: 30px;
}

.teater_list li {
    margin-right: 20px;
    font-size: 16px;
    color: #abb7c4;
    text-transform: capitalize;
    transition: all .5s;
    cursor: pointer;

}
.active{
    color: #dcf836 !important;
}
.teater_list li:hover {
    color: #dcf836;
}


@media only screen and (max-width: 768px) {
    .overLay {
        top: 7px;
        right: -25px;
        padding: 0 30px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 540px) {
    .overLay {
        top: 7px;
        right: -25px;
        padding: 0 30px;
        font-size: 11px;
    }

    .teater_list {
        margin-bottom: 20px;
    }

    .teater_list li {
        margin-right: 10px;
        font-size: 14px;
    }
    .slide .overLayBtn .btn {
        padding: 0px 12px;
        width: 90px;
        height: 28px;
    }
    .slide .overLayBtn .btn a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 370px) {
    .teater_list li {
        margin-right: 8x;
        font-size: 14px;
   
    }
}