@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
html{
    overflow-x: hidden;
}
body {
    font-family: "Sansita", sans-serif;

}

img {
    width: 100%;
    display: block;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.active_link {
    color: red;
}

.special_title {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 25px;

}

.active{
    color: #dcf836;
}

/* Not Found Page  */
.modal-backdrop.show{
    display: none;
}

@media only screen and (max-width: 540px) {
    .special_title {
        margin-bottom: 15px;
    }
    
}
.header-fix{
    position: fixed ;
    padding: 10px !important;
    background: #06121e;
    top: -80px;
    transform: translateY(80px);
    transition: all .5s linear;
    left: 0;
    right: 0;
    z-index: 50;
}
.show-btn{
    opacity: 1;
}