@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

body {
    font-family: "Sansita", sans-serif;
}

img {
    width: 100%;
    display: block;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.active_link {
    color: red;
}

.special_title {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;

}

.active{
    color: #dcf836;
}

/* Not Found Page  */
